[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2"
bs4 = "*"
devtools = "*"
phonenumbers = "*"
janome = "*"
python-dateutil = "*"
googletrans = "==4.0.0-rc1"
livereload = "*"
dj-database-url = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-filter = "*"
gunicorn = "*"
django-phonenumber-field = "*"
selenium = "*"
webdriver-manager = "*"
pymysql = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"

[requires]
python_version = "3.8"
