{% extends 'display/index.html' %}
{% load static %}

{% block content %}


<div id="store_data">
    <p v-for="item in store_name">[[item]]</p>
</div>






{{ store_obj.store_name }}

<table>
    {% for media, review_objs in review_dict.items %}
        <tr>
            <th class="media">{{media}}</th>
        </tr>
        <tr>
            {% for obj in review_objs %}
                <td>
                    <p class="date">{{obj.review_date|date:"Y年m月"}}</p>
                </td>
            {% endfor %}
        </tr>
        <tr>
            {% for obj in review_objs %}
                <td>
                    <span class="rate_num">{{obj.review_point}}</span>
                    <span class="rate rate0" data-rate="{{obj.review_point|floatformat:1}}"></span>
                </td>
            {% endfor %}
        </tr>
        {% if media == "食べログ" %}
        <tr>
            {% for obj in review_objs %}
                <td>
                    <p class="title">{{obj.title| truncatechars:50 }}</p>
                </td>
            {% endfor %}
        </tr>
        {% endif %}
        <tr>
            {% for obj in review_objs %}
                <td>
                    <p class="content">{{obj.content | linebreaksbr | truncatechars:50 }}</p>
                </td>
            {% endfor %}
        </tr>

    {% endfor %}
</table>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>

var store_data = new Vue({
    delimiters: ["[[", "]]"],
    el: "#store_data",
    data: {
        store_name: [],
    },
    mounted: function () {
        axios.get('{% url "display:to_axios" store_q=store_obj.store_name %}')
            .then(function (response) {
                for(var d in response.data){
                    var item = response.data[d];
                    store_data.store_name.push(item.store_name)
                }
                {% comment %} store_data.store_name = response.data[0].store_name; {% endcomment %}
            });
    },
})

</script>


{% endblock content %}